.navbar {
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px;
  background-color: #222;
  color: white;
  font-size: 14px;

  .footer-col {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logoFooter .imgLogoFooter {
    width: 120px;
    border-radius: 100px;
  }
  .footer-col h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ff6347; /* Color para los títulos */
  }

  .footer-col p,
  .footer-col ul {
    margin: 0;
    padding: 0;
  }

  .footer-col ul {
    list-style-type: none;
  }

  .footer-col ul li {
    margin: 5px 0;
  }

  .footer-col ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-col ul li a:hover {
    color: #ff6347; /* Color en el hover de los enlaces */
  }

  .footer-col p {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}
.father{
  display: flex;
  justify-content: space-around;  
  align-items: start;
    background: linear-gradient(to right, #2e2e2e, #000);
  color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2rem;

}